*{
    font-family: 'Outfit', sans-serif;
    
}

html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(https://edusys.ulbu.bi/theme/bg_uldu1.jpg) center fixed no-repeat ;
    background-size: cover;
    box-sizing: content-box;
}

#page-container{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*flex-direction: column;*/
}
.contente-wrap{
    min-height: 600px;
}
/******************************/

.my-nav{
    display: none;
}

nav{
    position: fixed;
    display: flex;
    height: 60px;
    width: 100%;
    top: 0;
    background-color: #FFF;
    
}
.navbar-nav-right-side{
    display: flex;
    padding: 5px;
}



.navbar-nav{
    display: flex;
    gap: 20px;
}

.nav-menu{
    list-style-type: none;

}

#btn-menu{
    display: none;
}

.navbar-logo img{
    height: 45px;
    width: 130px;
}

nav a{
    color: red;
}

.nav-link{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    color: rgba(255, 0, 0, 0.837);
}


 .active{
    color: red;
}

.nav-link:hover{
    color: red;
}

.navbar-nav-left-side{
    width: auto;
    position: absolute;
    display: flex;
    right: 0;
    gap: -2px;
}

.triangle{
    
    right: 500px;
	width: 0;
	height: 0;
	border-width: 0 0 60px 60px;
	border-color: transparent transparent #FF0000 transparent;
	border-style: solid;
}
.navbar-search-side{

    width: 450px;
    height: 60px;
    display: flex;
    right: 0;
    background-color: red;
    justify-content: center;
    align-items: center;
}

.search-bar{
    display: flex;
    background-color: #FFF;
    width: 360px;
    height: 35px;
    border-radius: 5px;
}

.search-input{
    background: none;
    width: 320px;
    padding-left: 10px;
    color: red;
    font-family: 'Outfit' sans-serif;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    outline: none;
}


.btn-search{
    background: #fff;
    font-weight: 600;
    height: 100%;
    width: 40px;
    outline: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.btn-search .material-icons{
    color: red;
    font-weight: 600;
}

.btn-search .material-icons:hover{
    color: #000;
}

.scan-qr{
    display: none;
    cursor: pointer;
    margin-left: 10px;
}

.scan-qr .material-icons{
    color: #FFF;
    font-size: 2rem;
}

#cam{
    height: 20px;
    width: 20px;
}

.sidebar{
    display: none;
}



/*************************************/

.my-container{
    padding: 20px;
    margin: 0;
    width: auto;
}
main{
    /*height: 100%;
    width: 100%;*/
    /*height: 700px;*/
    margin-top: 80px;
    height: auto 100vh;
    min-height: 600px;
    width: 100vw;
    margin-bottom: 15px;
    /*background: url(https://edusys.ulbu.bi/theme/bg_uldu1.jpg) center fixed no-repeat ;
    background-size: cover;*/
}

.main-content{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 320px;
}

.side{
    /*width: 50%;*/
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.mon-edusys{
    width: 230px;
    border-bottom: 8px solid #F5D11C;
}
.mon-edusys span{
    display: block;
    font-size: 3.5rem;
    font-weight: 800;
}

.mon-edusys span:first-child{
    color: #F5D11C;
}
.mon-edusys span:last-child{
    color: #FFF;
}

.page-adress{
    width: 300px;
}

.page-adress img{
    height: 30px;
    width: 30px;
}

.page-adress span{
    color: #F5D11C;
    font-size: 2rem;
    font-weight: 700;
}

/*/////////////////////////////////////////*/



form{
    font-family: 'Outfit',sans-serif;
}
#icon-pres{
    height: 150px;
    width: 150px;
    margin: auto;
    text-align: center;
}
.form-container{
    width: 350px;
    /*border-left: 1px solid #ffff;
    line-height: 50px;*/
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(154, 144, 238, 0.953);
    text-align: center;
}

.form-container .title{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    color: #ffff;
}

.my-form-element{
    width: 300px;
    margin: 10px;
}

.form-input{
    display: flex;
    padding: 4px;
    gap: 5px;
    background-color: #162d56c7;
    
    border-radius: 10px;
}

main input{
    width: 300px;
    height: 25px;
    background: none;
    margin-top: 0%;
    outline: none;
    border: none;
    color: #FFF;
    font-size: 1.2rem;
}

main .material-icons{
    height: 27px;
    margin-top: 5px;
    color: #FFF;
}

.btn-primary{
    width: 308px;
    color: #FFF;
    background-color: #162d56c7;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn-primary:hover{
    background-color: #1b66e9;
}

.my-form-element span{
    color: #FFF;
}
/***************/

.contact{
    display: none;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.the-banner{
    background: url(https://edusys.ulbu.bi/assets/images/gross_line_2.jpg) #FF0000 no-repeat ;
    background-size: cover;
    height: 100px;
    width: 930px;
    position: relative;
    bottom: 45px;
    display: flex;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease-out;
}
 


.the-banner.active{
    transform: translateY(0);
    opacity: 1;
}

@keyframes anim{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.banner-feature{
    height: 70%;
    margin: 15px;

}

.banner-feature-left{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.btn-envoyer{
    width: 100px;
    height: 30px;
    margin-right: 15px;
    color: #fff;
    font-weight: 600;
    background-color: #FF0000;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

.banner-feature-right{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.banner-feature-left-text{
    font-size: 1.4rem;
    font-weight: 800;
    color: #000;
}

.banner-feature-right-text{
    font-size: 1.5rem;
    font-weight: 800;
    color: #fff;
}

.feature{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.banner-feature-left .material-icons{
   font-size: 3.5rem;
   width: 3.5rem;
   margin: 0 10px 0 0;
   color: #000;
}

.banner-feature-right .material-icons{
    font-size: 3.5rem;
    width: 3.5rem;
    margin: 0 10px 0 0;
    color: #fff;
 }


/******************/

footer{
    
    width: 100%;
   
    

}
.footer-content{
    background-color: #162d56;
    min-height: 40px;
    width: 100%;
    padding: 10px;
    text-align: center;
}
footer span{
    width: 80%;
    margin: auto;
    display: block;
    text-align: center;
    font-size: 1rem;
    color: #FFF;

}

footer a{
    color: #fff;
}


@media all and (min-width: 1024px) and (max-width: 1280px) {
    #sidebar{
        display: none;
    }
    .main-content{
        gap: 200px;
    }
}

@media all and (min-width: 1024px) {
    .sidebar{
        display: none;
    }
}

@media all and (max-width: 1024px) {

    body{
        min-height: 100%;
        /*min-height: 100%;*/
    }
    nav{
        position: sticky;
    }
    .navbar-nav-left-side{
        width: 100%;
    }

    #btn-menu{
        display: block;
        position: fixed;
        font-size: 3rem;
        top: 10px;
        right: 15px;
        color: red;
        cursor: pointer;
    }

    #btn-menu:hover{
        color: #000
    }
    
    nav{
        position: fixed;
        flex-direction: column;
        height: auto;
    }

    /*.navbar-nav-right-side{
    }*/

    .navbar-nav{
        display: none;
    }
    .navbar-nav-left-side{
        width: 100vw;
        position: static;
    }

    .navbar-search-side{
        width: 100%;
    }

    .scan-qr{
        display: block;

    }

    /******* SIDEBAR (MENU) ***********/

    .sidebar{
        display: none;
        position: fixed;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        position: fixed;
        height: 100%;
        overflow: auto;
        z-index: +1;
    }
    
    .sidebar-header{
        display: flex;
    }
    
    .sidebar-logo img{
        margin-left: -20px;
        height: 50px;
        width: auto;
    }
    
    .sidebar .material-icons {
        position: fixed;
        top: 15px;
        right: 15px;
        color: red;
        font-size: 3rem;
        cursor: pointer;
    
    }
    
    .sidebar .material-icons:hover{
        color: #000;
    }
    
    .sidebar-menu{
        display: flex;
        flex-direction: column;
    }
    
    .sidebar-menu a {
        color: red;
        padding: 10px 10px 10px 20px;
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.166);
      }
       
      .sidebar a:hover {
          background-color: #FF0000;
        color: #fff;
      }

      /*********MAIN***********/

    main{
        margin-top: 80px;
        min-height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contact{
        display: none;
    }

    /*@media all and (min-height: 700px) {
        footer{
            position: absolute;
            bottom: 0;
            z-index: 1;
        }
    }*/
    
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    
    .side,.sidebar{
        display: none;
    }

}


@media all and (min-width: 480px) and (max-width: 768px) {
    .side,.side{
        display: none;
    }


}

@media all and (max-width: 480px) {

    .search-bar {
        width: 60vw;
    }

    .search-bar input{
        width: 90%;
    }

    .form-container .title{
        font-size: 1.3rem;
    }
    .side{
        display: none;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-container{
        width: 70vw;

    }

    .my-form-element, .btn-primary{
        width: 90%;
    }

    .form-container input{
        width: 80%;
        font-size: 1rem;
    }


    .btn-primary{
        font-size: 1rem;
    }
}